<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Cadastro de Filmes</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <div class="row">
              <div class="col">
                <div class="input-group mb-3">
                  <button
                    class="btn btn-outline-secondary dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ filtro }}
                  </button>
                  <ul class="dropdown-menu">
                    @if (filtro != 'Nome'){
                    <li>
                      <a class="dropdown-item" (click)="changeFiltro('Nome')"
                        >Nome</a
                      >
                    </li>
                    } @if (filtro != 'Cod'){
                    <li>
                      <a class="dropdown-item" (click)="changeFiltro('Codigo')"
                        >Codigo</a
                      >
                    </li>
                    }
                  </ul>
                  <input
                    type="text"
                    class="form-control"
                    #inputFiltro
                    [placeholder]="'Digite o ' + filtro + ' para consultar'"
                    [(ngModel)]="filtroText"
                  />
                  <button
                    class="btn btn-outline-primary"
                    type="button"
                    id="button-addon2"
                    (click)="consultarLivros(1)"
                  >
                    Consultar
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col text-end">
                <button
                  [routerLink]="['/filme/cadastro/0']"
                  type="button"
                  class="btn btn-primary"
                  style="
                    --bs-btn-padding-y: 0.25rem;
                    --bs-btn-padding-x: 0.5rem;
                    --bs-btn-font-size: 0.75rem;
                  "
                >
                  Adicionar Filme
                </button>
              </div>
            </div>
          </h5>
          <table class="table table-stripped">
            <thead class="table-dark">
              <tr>
                <th width="100px"></th>
                <th width="110px">Capa</th>
                <th width="100px">Codigo</th>
                <th>Nome</th>
                <th width="150px">Genero</th>
                <th width="100px">Quantidade</th>
                <th width="100px">Disponível</th>
              </tr>
            </thead>
            <tbody>
              @for (filme of filmes; track $index) {
              <tr class="align-middle">
                <td>
                  <a class="m-1"
                    ><i
                      class="bi bi-pencil-square text-warning"
                      title="Editar"
                      [routerLink]="['/filme/cadastro/', filme._id]"
                    ></i
                  ></a>
                  <a class="m-1"
                    ><i
                      class="bi bi-trash3 text-danger"
                      title="Excluir"
                      onclick="javascript:alert('Não Implementado')"
                    ></i
                  ></a>
                </td>
                <td><img [src]="filme.imagem" width="100px" /></td>
                <td>{{ filme.codigo | number : "3." }}</td>
                <td>{{ filme.titulo }}</td>
                <td>{{ filme.categoria }}</td>
                <td>{{ filme.quantidade }}</td>
                <td>{{ filme.quantidade_disponivel }}</td>
              </tr>
              } @empty {
              <tr>
                <td colspan="7" class="text-center">
                  @if (isLoading){
                  <div class="spinner-border" role="status"></div>
                  }@else { Nenhum Filme Cadastrado }
                </td>
              </tr>
              }
            </tbody>
          </table>

          <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <li
                class="page-item"
                [ngClass]="paginaAtual == 1 ? 'disabled' : ''"
              >
                <a class="page-link" (click)="consultarLivros(paginaAtual - 1)"
                  >&laquo;</a
                >
              </li>

              @for (nrPagina of [].constructor(totalPaginas); track nrPagina;
              let index = $index) {
              <li
                class="page-item"
                [ngClass]="paginaAtual == index + 1 ? 'active' : ''"
              >
                <a class="page-link" (click)="consultarLivros(index + 1)">{{
                  index + 1
                }}</a>
              </li>
              }

              <li
                class="page-item"
                [ngClass]="paginaAtual == totalPaginas ? 'disabled' : ''"
              >
                <a class="page-link" (click)="consultarLivros(paginaAtual + 1)"
                  >&raquo;</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
