<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <h5>Locação de Filmes</h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <label for="codigo" class="form-label">Nome do Filme</label>
              <select
                class="form-select"
                aria-label="Default select example"
                [(ngModel)]="filmeSelecionado"
                [disabled]="isLoadingEfetivando"
              >
                @if(isLoadingLista){
                <option value="">Carregando Lista de Filmes</option>
                }@else {

                <option value="">Selecione Um Filme</option>
                } @for (filme of filmesDisponiveis; track $index) {
                <option [value]="filme._id">
                  {{ filme.titulo }} - Cod:{{ filme.codigo | number : "3." }}
                </option>
                }
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="codigo" class="form-label">Qtd. Dias Locação</label>
              <input
                type="number"
                id="cod"
                class="form-control"
                [(ngModel)]="diasLocacao"
                [disabled]="isLoadingEfetivando"
              />
            </div>
          </div>
        </div>
        <div class="card-footer text-end">
          <button
            class="btn btn-primary"
            (click)="efetivarLocacao()"
            [disabled]="isLoadingEfetivando"
          >
            @if(isLoadingEfetivando){
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Efetivando... }@else { Efetivar Locação }
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
